{% include 'header.html' %}

<div class="row justify-content-center">
    <div class="text-center">
        <h1>Welcome to FRANS Airlines</h1>
    </div>
    <div class="col-6">
        <div class="text-center">
            <p>Please enter the confirmation code sent to your email address.</p>
            <p>It is needed to activate or delete your account.</p>
        </div>
        {% if message %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <form action="/confirm" method="post">
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="token">Email address</label>
                <input type="email" id="email" name="email" class="form-control" {% if email %} value="{{ email }}" {% endif %}/>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="token">Token</label>
                <input type="text" id="token" name="token" class="form-control"/>
            </div>

            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Confirm</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}