{% with logged_in=1 %}
{% include 'header.html' %}
{% endwith %}

<div class="row justify-content-center">
    <div class="text-center">
        <h1>Welcome to FRANS Airlines</h1>
    </div>
    <div class="col-6">
        <div class="text-center">
            <p>You are logged in!</p>
            <p>Name: {{ name }}</p>
            <p>Username: {{ username }}</p>
            <p>Email: {{ email }}</p>
        </div>
    </div>
</div>

{% with logged_in=1 %}
{% include 'footer.html' %}
{% endwith %}